.our-vision__container {
    /* height: 100vh; */
    padding: 2rem 8rem 2rem;
    margin: 0 auto;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 40rem;
    justify-content: center;
    align-items: center;
    /* background: #11273B;
    color: #fff; */
    
    background: linear-gradient(to bottom, rgba(220,231,250, 1) 50%, rgba(220,231,250, 1));
    color: rgba(17, 39, 59, 1);
    /* transform: skewY(-4deg) */
}



.our-vision {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: skewY(4deg) */
}


.our-vision__title {
    font-size: 4rem;
    align-self: start;
}

.our-vision__paragraph {
    font-size: 2.4rem;
    padding: 0 3rem;
    margin-bottom: 1.5rem;
    align-self: start;
    font-family: var(--font-family-ar-2);
}

.our-vision__process {
    height: 100%;
    /* background: url(../../images/enLogoBg.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5rem;
    padding-left: .5rem;
    /* transform: scale(.9) skewY(4deg); */
}

.our-vision__process > * {
    width: 100%;
}

#our-vision-cta {
    height: 4rem;
    font-size: 2rem;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 1100px) {
    .our-vision__paragraph {
        font-size: 1.6rem;
        padding: 0;
    }
}

@media only screen and (max-width: 900px) {
    .our-vision__paragraph {
        font-size: 2rem;
    }

    .our-vision__title,
    .our-vision__paragraph {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 800px) {
    .our-vision__process {
        display: none;
    }

    .our-vision__container {
        grid-template-columns: 1fr;
        padding: 2rem .5rem;
    }
} 

/* "Added" values ********************************************************************************************* */

.our-values {
    align-self: start;
    font-size: 2.4rem;
    padding: 0 5rem;
    font-family: var(--font-family-ar-2);
}

.our-values::before {
    content: attr(aria-label);
    font-size: 110%;
    font-weight: bold;
    margin-right: -4rem;
    font-family: var(--font-family-ar-1);
}

.our-vision__paragraph:nth-of-type(2){
    font-size: 2.4rem;
    line-height: 2.4rem;
    padding: 0 8rem;
    align-self: center;
    text-align: center;
    margin-top: 1.5rem;
}