.header {
    /* Arranging the logo, contact Us button, and navbar menus */
    display: flex;
    width: 100%;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    background: linear-gradient(to bottom, rgba(7,33,75, 1), rgba(7,33,75, .8))
}

@media only screen and (max-width) {
    .header {
        padding: .8rem 1.6rem;
    }
}

/* Navbar Menus *************************************************************************************************** */
.navbar {
    /* Placing the navbar menus list */
    flex: 1;
    justify-self: flex-end;
    height: 100%;
}

@media only screen and (max-width: 900px) {
    .navbar {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

.navbar__items {
    /* Displaying navbar menus */
    list-style: none;
    color: var(--color-gray-light-2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    height: 100%;
}

.navbar__item {
    cursor: pointer;
    position: relative;
    transition: all .2s;
}

.navbar__item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 120%;
    height: .1rem;
    width: 100%;
    background-color: var(--color-orange-light-2);
    transform-origin: center;
    transform: scale(0);
    transition: all .2s;
}

.navbar__item:hover:not(:first-child),
.navbar__item:hover:not(:first-child)::after,
.navbar__item:focus:not(:first-child)::after {
    color: var(--color-orange-light-2);
    transform: scale(1.0);
}

.navbar__item:not(:first-child) {
    /* Displaying navbar menus */
    margin-left: 4rem;
}

.navbar__item:nth-child(1) {
    color: var(--primary-color-blue);
    cursor: default;
}

.navbar__logo {
    /* Displaying navbar logo */
    height: 100%;
    margin-left: 8rem;
    cursor: pointer;
    filter: brightness(150%);
}

.navbar__logo:hover {
    filter: brightness(140%);
}

/* Navbar on screen < 900 ******************************************************************* */
.navbar-overlay {
    height: calc(100vh - 8rem);
    opacity: 0;
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: 900px) {
    .navbar-overlay {
        opacity: 1;
        visibility: visible;
        display: block;
        position: fixed;
        z-index: 10;
        right: 0;
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar-overlay {
        width: 100%;
    }
}

#navbar-overlay__items {
    /* Displaying navbar-overlay menus */
    list-style: none;
    color: var(--color-blue-light-3);
    text-align: center;
    display: grid;
    align-items: stretch;
    font-size: 2.5rem;
    line-height: 2.5rem;
    height: 100%;
}

.navbar-overlay__item {
    background-color: var(--color-blue-dark);
    display: grid;
    align-items: center;
    border: .05rem solid var(--primary-color-blue);
    cursor: pointer;
}

.navbar-overlay__item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    height: .1rem;
    width: 20%;
    background-color: var(--color-orange-light-2);
    transform-origin: left;
    transform: scale(0);
    transition: all .5s;
}

.navbar-overlay__item:not(:last-child):hover,
.navbar-overlay__item:not(:last-child):hover::after,
.navbar-overlay__item:not(:last-child):focus::after {
    color: var(--color-orange-light-2);
    transform: scale(1);
}

/* Menus Hidden ************************ */
.navbar-overlay__item-1 {
    transform: translateX(100%);
    transition: all .2s ease-in-out;
}

.navbar-overlay__item-2 {
    transform: translateX(100%);
    transition: all .25s ease-in-out;
}

.navbar-overlay__item-3 {
    transform: translateX(100%);
    transition: all .3s ease-in-out;
}

.navbar-overlay__item-4 {
    transform: translateX(100%);
    transition: all .35s ease-in-out;
}

.navbar-overlay__item-5 {
    color: var(--primary-color-blue);
    cursor: default;
    transform: translateX(100%);
    transition: all .4s ease-in-out;
}

.navbar-overlay__item-6 {
    transform: translateX(100%);
    transition: all .45s ease-in-out;
}

/* Showing menus ******************** */
.show-menu .navbar-overlay__item-1 {
    transform: translateX(0%);
}

.show-menu .navbar-overlay__item-2 {
    transform: translateX(0%);
}

.show-menu .navbar-overlay__item-3 {
    transform: translateX(0%);
}

.show-menu .navbar-overlay__item-4 {
    transform: translateX(0%);
}

.show-menu .navbar-overlay__item-5 {
    color: var(--primary-color-blue);
    transform: translateX(0%);
}

.show-menu .navbar-overlay__item-6 {
    transform: translateX(0%);
}
