.courses,
#courses__section {
    margin-top: 6rem;
    display: grid;
    row-gap: 4rem;
}

#courses__section__heading {
    color: #fff;
    margin-bottom: -8rem;
}


.courses__items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    transform: scale(.8);
}
